// imports
@import "base/mixin";

/* estilos generales */
body{
    @include color-fondo;
    .fondo-menu{
        @include fondo-menu;
    }
    footer{
        @include fondo-menu;
        margin-top: 1rem;
        .footer-contenedor{
            display: flex;
            justify-content: space-around;
            .footer-hijo{
                align-items: center;
                
                .logo-footer{
                    color: black;
                    font-size: 1.6rem;
                    font-weight: 500;
                    text-decoration: none;
                }
                ul{
                    li{ 
                        display: flex;
                        flex-direction: column;
                        a{
                        margin: 0.3rem;
                        color: black;
                        text-decoration: none;
                        font-size: 1rem;
                        border-bottom: 1px solid black;
                        }
                    }
                }
            }

        }
        
        .div-footer{
            margin: top 0.5rem;
            border-top: 1px solid black;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content:center;
            align-items: center;
            .reclamo{
                display: flex;
                gap: 1rem;
                .boton-footer{
                    color: black;
                }
                }
            
        }
    }
}

#logo-mas{
    width: 8.5rem;
    height: 5.5rem;
}
/* estilos imagenes generales */
#banner{
    
    height: 100%;
    width: 100%;
}
#logo-carrito{
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 100%;
    margin: 0.6rem;}