        // variables
// colores del fondo 
$color-fondo1:rgba(77,99,96,1);
$color-fondo2:rgba(107,129,162,1);
$color-fondo3:rgba(57,80,84,1);

// colores fondo del menu
$color-menu1:rgba(77,99,96,1);
$color-menu2:rgba(66,84,111,1);
$color-menu3:rgba(57,80,84,1);

